@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent : #eae2b7;
  --yellow : #fcbf49;
  --orange: #f77f00;
  --red : #d62828;
  --blue : #003049;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brandAccent: var(--accent);
  --color-brandYellow: var(--yellow);
  --color-brandOrange: var(--orange);
  --color-brandRed: var(--red);
  --color-brandBlue: var(--blue);
  --font-lato: var(--font-lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
}

html{
  scroll-behavior: smooth;
}
